ol.pagination {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
        float: left;
        /*浮动列表项 使用外边距把他们分开*/
        margin-right: 10px;
    }
}

ol.pagination a,
ol.pagination li.selected {
    display: block;
    padding: 5px 10px;
    /*控制li中的元素与li之间的距离*/
    border: 1px solid #ccc;
    text-decoration: none;
}


/*鼠标悬停、获得焦点时 改变背景和文字的颜色*/

ol.pagination a:hover,
ol.pagination a:focus,
ol.pagination li.selected {
    background-color: blue;
    color: white;
}

ol.pagination a[rel="prev"],
ol.pagination a[rel="next"] {
    border: none;
}